.sweet-alert h2  {
  font-size: 1.2em !important;
}
.sweet-alert .btn{
  padding: 0.5rem 1rem !important;
}

/* TODO-LIST */
.todo-container {
  min-height: 680px;
}

.todo-container .card-style {
  min-height: 680px;
  border: 1px solid #dadada;
}

.todo-container .border-gray{
  border: 1px solid #dadada;
  cursor: pointer;
}

.todo-container .border-gray:hover {
  background: #f9f5f5;
}

.todo-container .scroll {
  overflow-x: hidden;
  /* overflow-y: scroll; */
  max-height: 510px;
  min-height: 510px;
}

.todo-container .scroll .border-gray {
  margin-right: 1rem;
}

.cursor{
  cursor: pointer;
}

.todo-add-form .form-control{
  padding: 0.625rem 1.75rem 0.625rem 0.75rem !important;
  border: 0px !important;
}

.todo-add-form .input-group-text{
  border: 0px !important;
}

.todo-add-form .custom-select {
  border: 0px !important;
}

.todo-add-form .input-group {
  border: 1px solid #dadada;
}

.plusTodo:hover{
  color: rgba(0, 0, 0, 0.7) !important;
}

/* MEMO-LIST */
.memo-container .card-img-top{
  height: 140px;
  width: 140px;
}

.memo-container .card-body{
  padding: 1rem !important;
}

.memo-container .card-title{
  margin-bottom: 1rem !important;
  color: black;
}

.memo-container .card{
  max-height: 290px !important;
  cursor: pointer;
  max-height: 290px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 23% !important;
  float: left !important;
  margin: 15px 13px 15px 14px !important;
}

.memo-container .card-deck{
  position: relative;
}

.memo-container .custom-control-label::before {
  left: 1rem !important;
  margin-top: 0.25rem !important;
}

.memo-body{
  padding: 1rem !important;
  max-height: 260px;
  min-height: 260px;
}

.memo-container .star {
  left: 50px;
  cursor: pointer;
}

.memo-container .img-div{
  position: relative;
}

.memo-container .fa-lg{
  position: absolute;
  top: 5%;
  right: 4%;
  color: #afaaaa;
  cursor: pointer;
}

.memo-container .modal > section {
  max-width: 1000px !important;
  min-height: 700px !important;
}

.memo-container .modal > section > main {
  padding: 10px  !important;
}

.memo-add-form .quill {
  height: 400px;
}

.btn-md{
  padding: 6px 12px;
  font-size: 13px;
}

.memo-color{
  float: left 
}

.memo-color .memo-back{
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer
}

.memo-color .memo-handle{
   position: fixed; 
   top: 0px; 
   right: 0px;
   bottom: 0px;
   left: 0px; 
}

.memo-container pre{
  margin: 0 !important;
  font-family: Open Sans, sans-serif !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #525f7f !important;
  text-align: left !important;
  height: 165px;
  min-height: 165px;
  overflow: hidden;
}

.memo-container .memo-date{
  bottom: 15px;
  position: absolute;
}

.memo-container .memo-div-lock{
  position: absolute;
  top: 29%;
  left: 21%;
}
.memo-container .memo-lock{
  padding-left: 58px;
  padding-bottom: 10px;
  position: p;
}

.memo-container .memo-lock-input{
  float: left;
  width: 45% !important;
  margin-right: 10px;
  height: 2rem;
}

.memo-container .memo-lock-show{
  text-align: center; 
  color: gray;
}

.memo-container .memo-lock-show:hover{
  color: black;
}

/* COMMUNITY */
.community-container th, td:not(.comm-title) {
  text-align: center;
}

.pagination {
  position: absolute;
  left: 40%;
}

.add-commty-row .quill{
  height: 440px;
}
.add-commty-row .card-header{
  padding-bottom: 0rem !important;
}
.info-commty-container .card{
  padding: 0.5rem 1rem 0.5rem 1rem !important;
}

.text-md{
  font-size: 1rem !important;
}

.comment-list hr{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.comment-list-row .dropdown{
  float: right;
  position: absolute;
  right: 12px;
}

.comment-list-row .dropdown-toggle::after{
  border-top: 0em !important;
}

.comment-list-row .dropdown-toggle{
  color: #a3a3a4;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0 0 0 0 !important;
}

.comment-list-row .btn-secondary:not(:disabled):not(.disabled):active{
  background-color: #ffffff;
  border-color: #ffffff;
}

.comment-list-row .dropdown-menu {
  min-width: 6rem;
  transform: translate3d(-60px, 41px, 0px) !important;
}

.info-commty-container .comment-click{
  cursor: pointer;
  border: 1px solid #dad8d8;
  padding: 9px 13px 9px 13px;
}

.comment-list-row .upt-comment-input{
  height: 8rem;
  width: 77rem;
  margin-top: 1rem;
}

.f-r{
  float: right;
}