.sweet-alert h2  {
  font-size: 1.2em !important;
}
.sweet-alert .btn{
  padding: 0.5rem 1rem !important;
}

/* TODO-LIST */
.todo-container {
  min-height: 680px;
}

.todo-container .card-style {
  min-height: 680px;
  border: 1px solid #dadada;
}

.todo-container .border-gray{
  border: 1px solid #dadada;
  cursor: pointer;
}

.todo-container .border-gray:hover {
  background: #f9f5f5;
}

.todo-container .scroll {
  overflow-x: hidden;
  /* overflow-y: scroll; */
  max-height: 575px;
  min-height: 575px;
}

.todo-container .scroll .border-gray {
  margin-right: 1rem;
}

.cursor{
  cursor: pointer;
}

.todo-add-form .form-control:not(.todo-date){
  padding: 0.625rem 1.75rem 0.625rem 0.75rem !important;
  border: 0px !important;
}

.todo-add-form .input-group-alternative{
  box-shadow: 0px 0px !important;
}

.todo-add-form .input-group-text{
  border: 0px !important;
}

.todo-add-form .custom-select {
  border: 0px !important;
}

.todo-add-form .input-group {
  border: 1px solid #dadada;
}

.plusTodo:hover{
  color: rgba(0, 0, 0, 0.7) !important;
}

/* MEMO-LIST */
.memo-container .card-img-top{
  height: 140px;
  width: 140px;
}

.memo-container .card-body{
  padding: 1rem !important;
}

.memo-container .card-title{
  margin-bottom: 1rem !important;
  color: black;
}

.memo-container .card{
  max-height: 290px !important;
  cursor: pointer;
  max-height: 290px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: calc(23.333% - 8px);
  float: left !important;
  margin: 15px 13px 15px 14px !important;
}

@media (max-width: 1540px){
  .memo-container .card {
    width: calc(31% - 8px);
  }
}

@media (max-width: 1340px){
  .memo-container .card {
    width: calc(47% - 8px);
  }
}

@media (max-width: 1008px){
  .memo-container .card {
    width: calc(96% - 8px);
  }
}

.memo-container .card-deck{
  position: relative;
}

.memo-container .custom-control-label::before {
  left: 1rem !important;
  margin-top: 0.25rem !important;
}

.memo-body{
  padding: 1rem !important;
  max-height: 260px;
  min-height: 260px;
}

.memo-container .star {
  left: 50px;
  cursor: pointer;
}

.memo-container .img-div{
  position: relative;
}

.memo-container .fa-lg{
  position: absolute;
  top: 5%;
  right: 4%;
  color: #afaaaa;
  cursor: pointer;
}

.memo-container .modal > section {
  max-width: 1000px !important;
  min-height: 700px !important;
}

.memo-container .modal > section > main {
  padding: 10px  !important;
}

.memo-add-form .ql-container {
  height: 400px;
}

.memo-add-form .form-group {
  margin-bottom: 0rem;
}

.memo-add-form .color-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.btn-md{
  padding: 6px 12px;
  font-size: 13px;
}

.memo-color{
  float: left;
  width: 4%;
  margin-right: 2%;
}

.memo-color .memo-back{
  padding: 5px;
  width: 100%;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer
}

.memo-color .memo-handle{
   position: fixed; 
   top: 0px; 
   right: 0px;
   bottom: 0px;
   left: 0px; 
}

.memo-container pre{
  margin: 0 !important;
  font-family: Open Sans, sans-serif !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #525f7f !important;
  text-align: left !important;
  height: 165px;
  min-height: 165px;
  overflow: hidden;
}

.memo-container .memo-date{
  bottom: 15px;
  position: absolute;
}

.memo-container .memo-div-lock{
  position: absolute;
  top: 29%;
  left: 21%;
}
.memo-container .memo-lock{
  padding-left: 58px;
  padding-bottom: 10px;
  position: p;
}

.memo-container .memo-lock-input{
  float: left;
  width: 45% !important;
  margin-right: 10px;
  height: 2rem;
}

.memo-container .memo-lock-show{
  text-align: center; 
  color: gray;
}

.memo-container .memo-lock-show:hover{
  color: black;
}


/* COMMUNITY */
.community-container th,.community-container td:not(.comm-title) {
  text-align: center;
}

.pagination {
  position: absolute;
  left: 42%
}

.add-commty-row .ql-container {
  height: 440px;
}
.add-commty-row .card-header{
  padding-bottom: 0rem !important;
}
.info-commty-container .card{
  padding: 0.5rem 1rem 0.5rem 1rem !important;
}

.text-md{
  font-size: 1rem !important;
}

.comment-list hr{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.comment-list-row .dropdown{
  float: right;
  position: absolute;
  right: 12px;
}

.comment-list-row .dropdown-toggle::after{
  border-top: 0em !important;
}

.comment-list-row .dropdown-toggle{
  color: #a3a3a4;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0 0 0 0 !important;
}

.comment-list-row .btn-secondary:not(:disabled):not(.disabled):active{
  background-color: #ffffff;
  border-color: #ffffff;
}

.comment-list-row .dropdown-menu {
  min-width: 6rem;
  transform: translate3d(-60px, 41px, 0px) !important;
}

.info-commty-container .comment-click{
  border: 1px solid #dad8d8;
  padding: 9px 13px 9px 13px;
  border-radius: 0.375rem;
}

.comment-list-row .upt-comment-input{
  height: 8rem;
  width: 77rem;
  margin-top: 1rem;
}

.f-r{
  float: right;
}

.community-container .table-responsive{
    overflow-x: hidden;
}
/* main */
@font-face {
  font-family: 'LAB디지털';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.stopwatch-div p {
  font-family: 'LAB디지털';
  font-size: 7rem;
  color: #3e3e3e !important;
  text-align: center;
  margin-top: -45px;
}

@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'S-CoreDream-4Regular';
}

.main-container .stopwatch-div span.text-md {
  padding: 10px 25px 10px 25px;
  margin-left: 10px;
  cursor: pointer;
  color: #fff;
  border-radius: 0.375rem;
}

.main-container .buttons{
  text-align: center;
}

.main-container .buttons{
  text-align: center;
}

.main-container .sw-start{
  background-color: #4aae71;
  border-color: #4aae71;
}

.main-container .sw-resume{
  background-color: #4aae71;
  border-color: #4aae71;
}

.main-container .sw-pause{
  background-color: #f17979;
  border-color: #f17979;
}

.main-container .sw-reset{
  background-color: #fbad10;
  border-color: #fbad10;
}

.main-container .sw-save{
  background-color: #00a1f7;
  border-color: #00a1f7;
}

.main-container Table{
  text-align: center;
}

.main-container .scroll {
  overflow-x: hidden;
  max-height: 225px;
  min-height: 225px;
}

.scroll-stop {
  overflow-x: hidden;
  max-height: 265px;
  min-height: 265px;
}

.main-chart-body{
  padding: 0rem 0rem 0rem 0rem;
}

.chart{
  height: 328px;
}

.main-container th.dot {
  text-align: left;
  padding-left: 2.5rem;
}

.main-container a{
  font-size: 0.7rem;
  padding-top: 14px;
  color: #929292;
}

.main-container .nav-pills .nav-item:not(:last-child) {
  padding-right: 3%;
}

@media (max-width: 767.98px){
  .main-container .nav-pills:not(.nav-pills-circle) .nav-item {
    padding-right: 3%;
  }
}

/* stop watch */
.stopwatch-container .date-name{
  display: inline-block;

}

.stopwatch-container .end-date{
  display: inline-block;
  margin: 0rem 1rem;
}

.timedate-from-group{
  display: inline-block;
  margin-bottom: 0rem;
}

@media (max-width: 1150px){
  .timedate-from-group .end-date{
    display: block !important;
    margin: 1rem 0rem !important;
  }
  .date-name label{
    margin-bottom: 0rem !important;
  }
  .page-row{
    padding-bottom: 4rem !important;
  }
}


@media (max-width: 1150px){
  .stop-div{
    max-width: calc(100% - 200px) !important;
  }
  .date-name label{
    margin-bottom: 0rem !important;
  }  
  .page-row{
    padding-bottom: 4rem !important;
  }
}


/* login */
.goole-btn{
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%) !important;
  border-radius: 0.375rem !important;
  padding: 0px !important;
  color: #5e72e4 !important;
  font-family: inherit !important;
}

.goole-btn:hover{
  color: #212529 !important;
}

.goole-btn div{
  margin-right: 0px !important;
  padding: 0.65rem 0rem 0.65rem 1rem !important
} 

.goole-btn span{
  font-weight: 600 !important;
  padding: 0.6rem 1.25rem !important;
}

.dark-shadow{
  box-shadow: 0 0 2rem 0 rgb(0 0 0 / 15%) !important;
}

.text-black{
  color: #32325d !important;
}

.text-black:hover {
  color: #233dd2 !important;
  text-decoration: none !important;
}

/* 회원가입 */
.email-btn{
  display: inline-block;
  width: 25%;
  padding: 14px;
  margin-left: 1.3rem;
}

.email-form-group{
  display: inline-block;
  margin-bottom: 0rem;
  width: 68%;
}

.email-check-form{
  display: inline-block;
}

.email-check-form .input-group{
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.email-check-form .input-group input{
  padding: 0.625rem 3.75rem 0.625rem 3rem;
} 

.posit-rel{
  position: relative;
}

.py-15{
  padding-top: 15rem !important;
  padding-bottom: 15rem !important;
  text-align: center;
}

.txt-center{
  text-align: center;
}

.cat-tr input[type=text]{
  height: 2rem !important;
  padding: 0rem 0.3rem !important;
}