.sweet-alert h2  {
  font-size: 1.2em !important;
}
.sweet-alert .btn{
  padding: 0.5rem 1rem !important;
}

.todo-container {
  min-height: 680px;
}

.todo-container .card-style {
  min-height: 680px;
  border: 1px solid #dadada;
}

.todo-container .border-gray{
  border: 1px solid #dadada;
  cursor: pointer;
}

.todo-container .border-gray:hover {
  background: #f9f5f5;
}

.todo-container .scroll {
  overflow-x: hidden;
  /* overflow-y: scroll; */
  max-height: 510px;
}

.todo-container .scroll .border-gray {
  margin-right: 1rem;
}

.cursor{
  cursor: pointer;
}

.todo-add-form .form-control{
  padding: 0.625rem 1.75rem 0.625rem 0.75rem !important;
  border: 0px !important;
}

.todo-add-form .input-group-text{
  border: 0px !important;
}

.todo-add-form .custom-select {
  border: 0px !important;
}

.todo-add-form .input-group {
  border: 1px solid #dadada;
}

.plusTodo:hover{
  color: rgba(0, 0, 0, 0.7) !important;
}